<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
      <add key="DataSource" value="."/>
      <add key="Database" value="QuestionsDBs"/>
      <add key="Username" value="moutasem"/>
      <add key="Password" value="moutasem123"/>
      <add key="IntegratedSecurity" value="SSPI"/>
  </appSettings>
  <connectionStrings>
    <add name="DBCS"
         connectionString="data source = .; database = QuestionsDB; Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>